.container {
	position: relative;
	text-align: left;
	color: black;
	font-size: 30;
}

.top-right img {
	padding-left: 500;
	position: center;
	height: 400;

}

.container img {
	height: 100%;
	width: 100%;
}

.top-left {
	font-size: 20px;
}

.top-left {
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
}

.top-right h1 {
	color: #3a3b3c;
	text-align: center;
}

.top-right p {
	font-size: 20px;
	color: #3a3b3c;
	text-align: center;
}

.data .info {
	font-size: 20px;
	color: #3a3b3c;
}

.data .info jpg {
	width: 100%;
}

.info {
	width: 45%;
	padding-left: 40;
}

.info img {
	height: 100%;
	width: 100%;
}

.month {
	padding-left: 100;
	display: flex;
	flex-wrap: wrap;
}

.info p {
	font-family: 'Times New Roman', Times, serif;
	color: #3a3b3c;
}

.title h1 {
	color: #3a3b3c;
	padding-left: 10%;
}

.info a {
	background-color: #1b691e;
	/* Green */
	border: none;
	color: white;
	padding: 15px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	border-radius: 12px;
	transition-duration: 0.4s;
}